# Environnements virtuels
env/
venv/
ENV/

# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# Tests unitaires / couverture
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Logs
*.log

# Fichiers spécifiques à l'environnement
.env
.env.local

# Fichiers spécifiques au système d'exploitation
.DS_Store
Thumbs.db

# Fichiers spécifiques à l'IDE
.idea/
.vscode/
*.swp
*.swo